<nav class="navbar navbar-dark bg-dark navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="navbar-brand" routerLink="/principal" routerLinkActive="active">Principal</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/principal/usuarios" routerLinkActive="active">Administración de Usuarios</a>
        </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a class="nav-link" href="javascript:void(0);" (click)="logout()">Cerrar sesión</a></li>
    </ul>
  </div>
</nav>
<div class="container-fluid">
  <router-outlet></router-outlet>
</div>